* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:rgb(33, 33, 33);
    --primary-color: #E50914;
    --primary-hover-color: #ff0916;
}

.landing {
    height: 100vh;
    background-size: cover;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9) 90%), 
	url('https://assets.nflxext.com/ffe/siteui/vlv3/c732cb00-be61-4d64-b8c3-99f022e7a123/572a6b80-35da-4731-865a-e94f95c677e6/CA-en-20220620-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    letter-spacing: 0.044rem;
}


/* HEADER */
.logo {
    position: absolute;
    margin: 1.875rem 3.75rem;
}

#logo {
    height: 2.813rem;
}

.choices {
    padding: 1.875rem 3.75rem;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

#signin {
    all: unset;
    cursor: pointer;
    font-family: 'Lato';
    font-size: 16px;
    color: White;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 7px 15px;
    transition-duration: 0.3s;
    font-weight: 300;
}

#languageselect {
    cursor: pointer;
    font-family: 'Lato';
    font-size: 16px;
    color: White;
    background-color: transparent;
    border: 1px rgb(185, 185, 185) solid;
    border-radius: 5px;
    padding: 7px 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 300;
}


/* ADVERT WHITE TEXT */
.advert {
    font-family: 'Lato';
    color: White;
    line-height: 50px;
    padding: 120px 0px 0px 0px;
    width: 50vw;

    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.advert h1 {
    font-size: 50px;
}

.advert p {
    font-size: 25px;
    padding: 15px;
}


/* SIGN UP AND GET STARTED */
.grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: 50% 50%;
}

.grid-item {
    width: 58vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.signup p {
    font-family: 'Lato';
    color: White;
    width: 100%;
    text-align: center;
    justify-self: center;
    padding: 20px;
    font-weight: 300;
}

.email-form { /* abstract container that holds the user input AND the text label */
    position: relative; 
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.email-form input { /* actual white input box where the user types */
    font-family: 'Lato';
    width: 100%;
    height: 65%;
    padding-top: 20px;
    outline: none;
    padding-left: 10px;
}

.email-form label { /* box containing the manual text label (placeholder) that will move up */
    font-family: 'Lato';
    letter-spacing: 0;
    font-size: 18px;
    color: rgb(194, 194, 194);
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%; /* makes it the same size as the abstract container */
    pointer-events: none;  /* prevents the label from covering the input */
}

.email-form label::after { /* inserts content into the label when selected, a border in this case */
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    left: 0%;
    border-bottom: 3px solid var(--primary-color);
    transform: translateX(-100%); /* the new content starts out way on the left */
    transition: transform 0.3s ease;
}

.form-name { /* targets the written span inside the label box */
    position: absolute;
    padding-left: 10px;
    bottom: 33%;
    transition: all 0.3s ease;
}

.email-form input:focus + .label-name .form-name, .email-form input:valid + .label-name .form-name {
    /* when the input is clicked on or typed into, the written span will slide up and shrink */
    transform: translateY(-90%);
    font-size: 14px;
    color:rgb(101, 101, 101);
}

.email-form input:focus + .label-name::after, .email-form input:valid + .label-name::after {
    /* when the input is clicked on or typed into, the content (border) added to the label will slide in */
    transform: translateX(0%);
}

#get-started {
    all: unset;
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: 'Lato';
    font-size: 22px;
    background-color: var(--primary-color);
    padding: 15px 30px;
    width: 25%;
    transition-duration: 0.3s;
}

#get-started:hover, #signin:hover, .watch-free:hover {
    background-color: var(--primary-hover-color);
}

form {
    all: unset;
}

#error-message {
    justify-content: flex-start;
    font-family: 'Arial';
    padding: 0.75rem;
    font-size: 14px;
    color: var(--primary-color);
}



/* MODAL */
.modal-step {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease-in-out;
    width: 50vw;
    height: clamp(fit-content, 60vh, 100%);
    padding: 0.875rem;

    background-color: white;
    font-family: 'Lato';

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 10;
}

.modal-step.active {
    transform: translate(-50%, -50%) scale(1);
}

.close-modal {
    all: unset;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 700;
}

#modal-error-I, #modal-error-II {
    padding-top: 0.3rem;
    font-size: 10px;
    color: var(--primary-color);
}

.modal header {
    margin-top: 1rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#modal-step-IIII p {
    padding-bottom: 2.5rem;
}

#modal-step-IIII h1 {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.modal-step h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.modal-step h6 {
    color:rgb(163, 163, 163);
    font-weight: 300;
}

.modal-step input[type=text], .modal-step input[type=password] {
    font-family: 'Lato';
    width: 25vw;
    margin: 0.1rem 0rem;
    padding: 0.5rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.next, .submit-user-info {
    all: unset;
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: 'Lato';
    background-color: var(--primary-color);
    padding: 15px 15px;
    width: 25%;
    transition-duration: 0.3s;
    margin: 1rem 0rem;
}

.next:hover, .submit-user-info:hover {
    background-color: var(--primary-hover-color);
}

.hidden-modal {
    display: none;
}




/* CLICKABLE CONTENT TAB BUTTONS */
.tab-container {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(33, 33, 33);
}

.tab-item {
    width: 500px;
    color: grey;
    font-family: 'Lato';
    font-size: 16px;
    padding: 25px;
    text-align: center;
    transition-duration: 0.3s;
}

.tab-item:hover {
    color: white;
    cursor: pointer;
}

i {
    padding: 15px;
}

.tab-border {
    border-bottom: 3px solid var(--primary-color);
}

#tab-1-content, #tab-2-content, #tab-3-content { /* hide all initially, using id so it overrides grid displays */
    display: none;
}

.show {
    display: block !important
}


/* CONTENT THAT BELONGS IN MULTIPLE TABS */
a {
    all: unset;
}

.tab-content {
    background-color: black;
}

.tab-content .subheading {
    padding-bottom: 10px;
    font-family: 'Arial';
    font-size: 12px;
    color: grey;
}

.watch-free {
    all: unset;
    cursor: pointer;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: White;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px 15px;
    transition-duration: 0.3s;
    font-weight: 300;
    width: fit-content;
    height: fit-content;
    margin-left: 6%;
}

.tab-content h3, #choose-plan {
    padding-bottom: 10px;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 500;
    color: white
}

.tab-content .heading {
    padding-bottom: 10px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    color: white
}


/* TAB 1 CONTENT */
.tab-1-content {
    width: 80vw;
    margin: auto;
    padding-bottom: 3.75rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.tab-1-grid-item {
    padding: 1.875rem;
}

.tab-1-content img {
    width: 90%;
}

.tab-1-grid-item p {
    padding: 17% 3% 5% 10%;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 500;
    color: white
}

#tab-1-watch-free {
    margin: 0% 10%;
}


/* TAB 2 CONTENT */
.tab-2-content {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.tab-2-grid-item-h {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
}

.tab-2-grid-item-h h3 {
    padding-right: 0.938rem;
}

.tab-2-grid-item-f {
    width: 80vw;
    display: flex;
    vertical-align: top;
    padding-bottom: 4rem;
}

.tab-2-flex-item {
    width: 33.33%;
    text-align: center;
    margin: 6px;
}

.tab-2-flex-item p {
    padding: 0px 15px;
}

.tab-2-flex-item img {
    max-height: 80%;
    max-width: 80%;
    padding-bottom: 0.75rem;
}

#tab-2-watch-free {
    margin: 0;
}


/* TAB 3 CONTENT */
.tab-3-content {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding: 1.875rem 0rem;
}

.tab-3-grid-item {
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#choose-plan {
    font-size: 18px;
    padding: 5px;
}

#price-plan {
    color: grey;
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
    border-spacing: 0;
    width: 100%;
}

#price-plan tr {
    height: 40px;
    overflow: hidden;
}

#price-plan th {
    color: white;
    text-transform: uppercase;
}

#price-plan th, td {
    padding: 0rem 1rem;
}

i {
    font-size: 10px;
}

#price-plan tr:nth-child(odd) td {
    background-color: rgb(38, 38, 38);
}

#price-plan tr:nth-child(even) td {
    background-color: transparent;
}

#price-plan .label {
    text-align: left;
}



/* FAQ COLLAPSIBLES */
.FAQ {
    background-color: black;
    border-top: 5px solid rgb(26, 26, 26);
    padding-bottom: 5rem;
}

.FAQ-container {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FAQ-container h3 {
    padding: 2.5rem;
    color: white;
    font-family: 'Arial';
    font-size: 40px;
    text-align: center;
}

.collapsible {
    all: unset;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(55, 55, 55);
    padding: 1.5rem;
    font-size: 22px;
    color: white;
    font-family: 'Lato';
    margin-bottom: 0.2rem;
    transition: background-color 0.3s;
}

.collapsible-content {
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(55, 55, 55);
    padding: 1.5rem;
    font-size: 22px;
    color: white;
    font-family: 'Lato';
    line-height: 1.15;
    margin-bottom: 0.2rem;
    /* for animation */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

.active-collapsible, .collapsible:hover {
    background-color:rgb(32, 32, 32);
}

.inactive-content {
    display: none;
}

.collapsible::after { /* add + sign here instead of in html, so that it can be changed */
    content: "+";
    color: white;
    float: right;
    margin-left: 1.5rem;
}

.active-collapsible::after { /* when activated, - takes over and keeps original style unless specified otherwise */
    content: "–";
}



/* FOR SMALLER SCREEN */
@media only screen and (max-height: 600px) {
    .landing {
        height: 100%;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 1000px) {
    .advert {
        padding: 80px 0px 0px 0px;
    }
    .landing {
        padding-bottom: 60px;
    }
    #get-started {
        font-size: 16px;
    }

    .email-form input {
        padding-top: 7px;
        padding-left: 10px;
        font-size: 16px;
        height: 90%;
    }
    .email-form label {
        font-size: 16px;
    }
    .email-form label::after {
        border: none;
    }
    .email-form input:focus + .label-name .form-name, .email-form input:valid + .label-name .form-name {
        font-size: 12px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 784px) {
    .landing {
        height: 100%;
        padding-bottom: 80px;
    }
    #signin, #languageselect {
        font-size: 12px;
    }
    #languageselect {
        margin: 0px 20px;
    }

    .advert {
        padding: 80px 0px 0px 0px;
    }
    .advert h1 {
        font-size: 30px;
        line-height: 1.5;
    }
    .advert p {
        font-size: 18px;
        line-height: 1.5;
    }
    .signup p {
        font-size: 13px;
    }

    .grid-item {
        flex-direction: column;
        align-items: center;
    }
    #get-started {
        font-size: 13px;
        padding: 10px 15px;
        height: fit-content;
    }
    #email-address {
        font-size: 13px;
        height: fit-content;
    }
    .tab {
        font-size: 13px;
    }
    .hide-sm {
        display: none;
    }

    .tab-1-content {
        display: flex;
        flex-direction: column;
    }
    .tab-2-grid-item-h {
        margin: 0;
        padding: 3rem 0;
    }
    .watch-free {
        margin: 0;
    }
    .tab-2-grid-item-f, .tab-2-grid-item-h {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .tab-2-flex-item {
        width: 100%;
        padding-bottom: 1.875rem;
    }
    .label {
        font-size: 10px;
    }

    #get-started {
        font-size: 16px;
        width: fit-content;
    }
    .email-form {
        overflow: visible;
    }
    .email-form input {
        padding: 10px 0px 10px 10px;
        font-size: 19px;
        height: 100%;
        transition: all 0.3s;
    }
    .email-form label {
        font-size: 14px;
        padding: 0px;
        top: 5%;
        left: 0%;
    }
    .email-form label::after {
        border: none;
    }
    .email-form input:focus + .label-name .form-name, .email-form input:valid + .label-name .form-name {
        transform: none;
        font-size: 14px;
        color: white;
        z-index: -1;
    }
    .collapsible, .collapsible-content {
        font-size: 18px;
    }
}